{% extends 'base.html' %}
{% block app_content %}
<div class="header">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" align="center"><h1>{{ service.name + " - " + service.base_url }}</h1></div>
        <div class="col-1"></div>
    </div>
</div>
{% if failed %}
<div class="header">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" align="center"><h2>Приносим извинения, сервис пока не поддерживает режим песочницы</h2>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% else %}
<form method="post">
    <div class="form-group">
        <button class="btn btn-success">Отправить запрос</button>
    </div>
    {% for item in params %}
    <div class="form-group">
        <label for="{{ item }}Input">{{ item }}</label>
        <input type="text" class="form-control" name="{{ item }}" id="{{ item }}Input"
               value="{{ params[item].get('default', '') }}">
    </div>
    {% endfor %}
    <div class="form-group">
        <label for="resultTextarea">Result</label>
        <textarea class="form-control" id="resultTextarea" rows="10" name="result">{{ result }}
        </textarea>
    </div>
</form>
{% endif %}
{% endblock %}