{% extends 'base.html' %}

{% block app_content %}
<div class="api-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h3>Подключенные сервисы:</h3>
            </div>
            <br/>
        </div>
        {% for service in available_services %}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10"><h3><a href="{{ url_for('public.api_demo', service_id=service.id) }}">{{ service.name }}</a></h3>
                <p class="lead">{{ service.description }}</p>
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-primary" href="{{ service.help_url }}">{{ service.help_url.upper() }}</a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-danger" href="{{ url_for('partner.service_delete', service_id=service.id) }}">Отключить</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-1"></div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h3>Доступные сервисы:</h3>
            </div>
        </div>
        {% for service in other_services %}

        <div class="row">
            <div class="col-1"></div>
            <div class="col-10"><h3><a href="{{ url_for('public.api_demo', service_id=service.id) }}">{{ service.name
                }}</a></h3>
                <p class="lead">{{ service.description }}</p>
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-primary" href="{{ service.help_url }}">{{ service.help_url.upper() }}</a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-success" href="{{ url_for('partner.service_add', service_id=service.id) }}">Подключить</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-1"></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}